
<%- include("header") -%>

<body>

  <!-- first example
    <% if(dayOfWeek !== 'sunday' || dayOfWeek === 'saturday') { %>
    <h1 style="color:red;">Its a <%= dayOfWeek%> </h1>
    <% } else {  %>
        <h1 style="color:blue;"> Its a <%= dayOfWeek%> </h1>
     <% } %> -->

  <div class="neomorphism-card">
    <h1 name="dayOfWeek"> <%= dayOfWeek %> </h1>
  </div>

  <div class="neomorphism-card">

    <div class="container">
      <!-- <li> -->
      <% for(var i = 0; i < toDo.length; i++) { %>
        <div class=".item-checkbox">
          <input type="checkbox">
        </div>
      <p class="item-toDo">
          <%= toDo[i] %>
      </p>
      <%} %>
      <!-- </li> -->
    </div>
      <form class="" action="/" method="post" name="formAddToDo">
        <input class="list-row-input" type="text" name="addToDo" placeholder="+ add to do">
        <button class="button" type="submit" name="button" >+</button>
        <input name="date" hidden="true" value="<%=dayOfWeek %>">
      </form>

  </div>
  <script type="text/javascript">
    // let test = document.createElement("h1");
    // test.setAttribute('name', 'dayOfWeek');
    // test.setAttribute('hidden', true);
    // let node = document.createTextNode("<%=dayOfWeek %>");
    // test.appendChild(node);
    // document.querySelector("form[name='formAddToDo']").append(test);

  </script>
</body>
<%- include("footer") -%>
